.resources__logo_name_polka {
  width: 270px;
  height: 38px;
  background-image: url(../../../../../images/resources-polka.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
