.cards__description {
  margin-top: 16px;
  margin-bottom: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  /*----------с ними текст - становится как в брифе (pdf) и мне кажется их использовали при подготовке брифа ко второму спринту----------*/
  margin-left: 2px;
  margin-right: 2px;

}
